h1{
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
}
.head{
 text-align: center; 
}
.aboutcontainer {
  display:flex;
  justify-content: space-around;
  margin: 40px 0;
}
.aboutleft{
  padding: 20px;
  background-color: rgb(129 73 179);
  height: auto;
  width: 30%;
  border-radius: 15px;
}
.aboutleft:hover{
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(40, 102, 209, 0.3);
  outline: 2px solid rgba(255,255,255,0.08);
  border-radius: 15px; 
}
.aboutright{
  background-color: rgb(129 73 179);
  height: auto;
  width: 30%;
  border-radius: 15px;
  padding:20px;
}
.aboutright:hover{
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(40, 102, 209, 0.3);
  outline: 2px solid rgba(255,255,255,0.08);
  border-radius: 15px; 
}
.btech {
  display: grid;
  grid-template-columns: 27% 73%;
  
}
.inter {
  display: grid;
  grid-template-columns: 27% 73%;
  
}
#name,.clgname{
  color:#ffd36a;
  font-weight: 600;
}
#pname{
   color: #ffd36a;   
  font-weight: 500;
}
#sname{
  color:#e8d9ff;   
  font-weight: 500;
}
.educationwrap{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 20px;
}
.clgyear{
  font-size: 0.9rem;
  font-weight:600 ;
}
.clgdetails{
  font-size: 0.9rem;
}