h1{
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
}
.expcontainer {
  display:flex;
  justify-content: space-around;
  margin: 40px 0;
}
.expleft{
  padding: 20px;
  background-color: rgb(129 73 179);
  height: auto;
  width: 30%;
  border-radius: 15px;
}
.expleft:hover{
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(40, 102, 209, 0.3);
  outline: 2px solid rgba(255,255,255,0.08);
  border-radius: 15px; 
}
.expright{
  padding: 20px;
  background-color: rgb(129 73 179);
  height: auto;
  width: 30%;
  border-radius: 15px;
}
.expright:hover{
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(40, 102, 209, 0.3);
  outline: 2px solid rgba(255,255,255,0.08);
  border-radius: 15px; 
}
.role{
    color:#ffd36a;
}
.compcontainer{
    display: flex;
    gap:8px;
    margin-bottom: 10px;
    align-items:center;
}
.compname{
    color: #e8d9ff;
     font-weight: 500;
}
.period{
    color:#e0d7ff;
    font-size: 0.85rem;
} 