body {
  color: white;
  font-family: 'poppins';
}

h3 {
  font-size: 1.5rem;
}
.navbar-container {
  background-color: rgb(42, 42, 159);
  height: 13vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.leftsec ul {
  display: flex;
  gap: 6rem;
  list-style: none;
  color: white
}
.leftsec ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}
.leftsec ul li a:hover {
  font-size: 1.3rem;
  color: rgb(119, 119, 217)
}
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
  }

  .leftsec ul {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

